@media screen and (max-width: 1199px) {}

@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) {
        .header {
                padding: 15px 20px !important;
        }

        .logo-link img {
                height: 40px !important;
                width: auto;
        }

        .custom-toggler {
                padding: 5px !important;
        }

        .hero-img {
                min-width: 250px;
                max-width: 100%;
        }

        .hero-cnt {
                left: 0px;
                width: 100%;
                text-align: center;
        }

        .hero h1 {
                font-size: clamp(32px, 10vw, 55px);
                line-height: normal;
        }

        .hero-p {
                font-size: clamp(14px, 4vw, 20px);
                line-height: 1.5;
                padding: 0 10px;
                max-width: 100%;
        }

        .about {
                min-width: 100%;
        }

        .areas .col-md-6 {
                display: flex;
                flex-direction: column;
                align-items: center;
        }

        .apps {
                width: 100%;
                flex-direction: row;
                justify-content: center;
                align-items: center;
        }

        .appssub {
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
        }

        .card.app {
                min-width: 76px;
                width: 76px;
                height: 72px;
                margin: 5px;
                border-radius: 20px;
        }

        .app img {
                width: 35px;
        }
}

@media screen and (max-width:576px) {
        .apps {
                flex-direction: column;
        }
}

@media screen and (max-width:200px) {
        .apps {
                flex-direction: column;
        }
}