@media screen and (max-width: 1199px) {}

@media screen and (max-width:1024px) {}

@media screen and (max-width:768px) {
        .header {
                padding: 6px 12px !important;
                margin-top: 5px !important;
        }

        .logo-link img {
                height: 32px !important;
                width: auto;
        }

        .custom-toggler {
                padding: 5px !important;
        }

        .hero {
                padding-top: 90px !important;
                padding-bottom: 20px !important;
                height: auto !important;
                min-height: auto !important;
        }

        .hero-profile-img {
                max-width: 280px !important;
                width: 100%;
                margin: 0 auto;
                display: block;
                position: relative;
                z-index: 10;
        }

        .about {
                padding-top: 70pX !important;
        }

        .hero-cnt {
                left: 0px;
                width: 100%;
                text-align: center;
        }

        .hero h1 {
                font-size: clamp(40px, 12vw, 60px);
                line-height: 1;
                margin-bottom: 10px;
        }

        .hero-p {
                font-size: clamp(16px, 5vw, 24px);
                line-height: 1.3;
                padding: 0 10px;
                max-width: 100%;
        }

        .about {
                min-width: 100%;
        }

        .areas {
                padding-top: 70px !important;
                padding-bottom: 60px !important;
        }

        .areas .col-md-6 {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
        }

        .apps {
                width: 100%;
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
        }

        .appssub {
                display: flex;
                flex-direction: row;
                gap: 5px;
                justify-content: center;
                width: 100%;
        }

        .services .card {
                min-height: 250px !important;
        }

        .card.app {
                min-width: 76px;
                width: 76px;
                height: 76px;
                margin: 5px;
                border-radius: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 10px;
        }

        .app img {
                width: 45px;
                height: auto;
        }
}

@media screen and (max-width:576px) {
        .areas {
                padding-top: 100px !important;
                padding-bottom: 100px !important;
        }

        .apps {
                flex-direction: column;
        }

        .appssub {
                flex-direction: row;
                justify-content: center;
        }
}