 ul li{
    list-style: none;
    padding: 0%;
    margin: 0%;
}
a{
    text-decoration: none;
    display: inline-block;
    color: inherit;
}
section{
    padding: 0px;
}
body{
    background: rgba(0, 0, 0, 1);
    position: relative;
   
}
.whatsapp{
    position: fixed;
     right:25px ;
    bottom: 50px;
}
.call{
    position: fixed;
    right: 25px;
    bottom: 120px;
}

/* header */
header{
    z-index: 100;
    padding: 0%;
    
}
.header{
    background: rgba(31, 31, 31, 1);
    color: rgba(232, 232, 232, 1);
  margin-top: 20px;
    border-radius: 10px;
   padding:  20px 50px;
    font-size: 20px;
}

.nav  {
   display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 0px;
    gap: 0px;
    transition:0.3s ;
     font-size: 16px;
}
.header a:hover{
    color:rgba(159, 193, 49, 1) ;
    font-size: 20px;
    font-weight: 500;
}




/* hero */
   .hero{
    background:url('/img/background-portfolio.png');
    background-position: center;
    
    width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
 justify-content: flex-end;
 padding: 5px 0px;
 margin: 0;
 padding-bottom: 80px;
 


}
.hero h1{
     font-family: "Oxanium", sans-serif;
     font-size: 100px;
     font-weight: 900;
     color: rgb(32, 31, 31);
     line-height: 70px;
     letter-spacing: 0;
     
}
.hero-p{
    font-size: 30px;
    font-weight: 600;
    color: rgba(195, 197, 191, 1);
    padding: 0px 0px;
    display: flex;
   line-height: 45px;
    width: 450px;
    text-align: center;
}



/* about */
.about-h3{
    font-family: "K2D", sans-serif;
    font-size: 36px;
    font-weight: 700;
    color:rgba(159, 193, 49, 1);
    padding: 15px 0px;
}
.about-p{
    font-size: 16px;
    color: rgba(242, 242, 242, 1);
    line-height:30px;
    font-weight: 300;
}
.downlod{
    color: rgba(36, 36, 36, 1);
    background-color: rgba(159, 193, 49, 1);
    padding: 4px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 400;
}
.icon{
    padding: 20px 0px;

}
.icon img{
    padding: 0px 2px;
} 




/* education */

.education{
    background: url('/img/edu-background1.png');
    background-position: center;
    background-repeat: no-repeat;
     background-size: cover;
   width: 100%;
   height: 100vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;

}
.h2{
    font-family: "K2D", sans-serif;
    font-size: 60px;
    font-weight: 700;
    text-align: center;
    color:rgba(159, 193, 49, 1); 
    padding-bottom: 30px;
    letter-spacing: -1.0px;
}
.h2 span{
    color: rgba(242, 255, 223, 1);
}
.icon-img{
    width: 50px;
    height: 50px;
    
}
.card{
    background-color:rgba(18, 18, 18, 1);
    padding: 10px 19px;
    border-radius: 30px;
}
.main-heading{
    font-size: 24px;
    font-weight: 600;
     letter-spacing: 0px;
     color: rgba(217, 217, 217, 1);
}

  

.card-p{
   margin-bottom: 10px; 
   font-size: 16px;
   color: rgb(160, 158, 158);
}
.place{
    margin-bottom: 0px;
    color: rgb(221, 221, 221); 
}

